In [1]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn

In [2]:
# load data

oecd_bill =  pd.read_csv(r"D:\Nupur\MachineLearning\HandsOnML_Practice\Dataset\oecd_bill.csv")
oecd_bill.head(2)

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.1,E,Estimated value
1,AUT,Austria,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.0,NaN,NaN

In [3]:
oecd_bill.Country.nunique()

37

In [4]:
gdp_capita = pd.read_csv(r"D:\Nupur\MachineLearning\HandsOnML_Practice\Dataset\gdb_per_capita.tsv", sep='\t', encoding='latin1')
gdp_capita.head(2)

,Country,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2015,Estimates Start After
0,Afghanistan,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",599.994,2013.0
1,Albania,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...","3,995.383",2010.0

In [5]:
gdp_capita.Country.nunique()

190

In [6]:
# country_stats = gdp_capita.join(oecd_bill,how='inner',on='Country')